:root {

    /* Primary Colors */

    --clr-hsl-red: 0, 78%, 62%;
    --clr-hsl-cyan: 180, 62%, 55%;
    --clr-hsl-orange: 34, 97%, 64%;
    --clr-hsl-blue: 212, 86%, 64%;
    --clr-pramiry-white: hsl(0, 0%, 100%);


    /* Secondary Colors */
    --clr-hsla-dark-blue: 234, 12%, 34%;
    /*card P*/
    --clr-secondary-blue: hsl(229, 6%, 66%);
    --clr-secondary-light-gray: hsl(0, 0%, 98%);

    /* Typography */
    --ff: 'Poppins', sans-serif;

    --fw-s: 200;
    --fw-m: 400;
    --fw-l: 600;

    --fs-s: 0.8125rem;
    /* 13px */
    --fs-m: 0.9375rem;
    /* 15px */
    --fs-l: 1.25rem;
    /* 20px */

    /* Others */
    --brd-radius: 0.5rem;
    --max-width-desktop: 69.375rem;
    /* 1110px */

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 2.25rem;
    --spacing-xxxl: 2.5rem;

    /* Responsive - based on Design */
    --fs-title-responsive: 1.5rem;
    --card-brd-responsive: 0.2188rem;
    --padding-bottom-responsive: 4.75rem;
    --grid-gap-responsive: 1.5625rem;
    --cards-padding-responsive: 1.75rem;
    --card-gap-responsive: 2rem;
    --card-width-responsive: 22rem;

}

/* Global Styles */

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--clr-secondary-light-gray);
    padding: 5.3125rem var(--spacing-xl) 4.875rem var(--spacing-xl);
    font-family: var(--ff);
    font-weight: var(--fw-m);


}

/* Utility Styles */

.brd-red {
    position: relative;
    --clr-brd: var(--clr-hsl-red);
}

.brd-cyan {
    position: relative;
    --clr-brd: var(--clr-hsl-cyan);
}

.brd-orange {
    position: relative;
    --clr-brd: var(--clr-hsl-orange);
}

.brd-blue {
    position: relative;
    --clr-brd: var(--clr-hsl-blue);
}

:is(.brd-red, .brd-cyan, .brd-orange, .brd-blue)::before {
    content: '';
    position: absolute;
    border-top: var(--card-brd-responsive) solid hsla(var(--clr-brd), 1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Cards Layout */

.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    gap: var(--grid-gap-responsive);
}

.grid-wrapper-1 {
    display: grid;
    place-content: center;
}

.grid-wrapper-2 {
    display: grid;
    place-content: center;
    grid-template-rows: 1fr 1fr;
    gap: var(--grid-gap-responsive);
}

.grid-wrapper-3 {
    display: grid;
    place-content: center;
}

/* Product Styles */

.product-heading {
    text-align: center;
    display: grid;
    place-content: center;
    gap: var(--spacing-m);
    padding-bottom: var(--padding-bottom-responsive);
}

.product-heading-title {
    font-weight: var(--fw-s);
    font-size: var(--fs-title-responsive);
    color: hsla(var(--clr-hsla-dark-blue), 1)
}

.product-heading-title>span {
    font-weight: var(--fw-l);
}

.product-heading-p {
    font-size: var(--fs-m);
    color: hsla(var(--clr-hsla-dark-blue), .5);
    max-width: 33.75rem;
}



.product-grid-cards {
    display: grid;
    background-color: var(--clr-pramiry-white);
    overflow: hidden;
    border-radius: var(--brd-radius);
    padding: var(--cards-padding-responsive);
    box-shadow: 0px 15px 30px -11px hsla(var(--clr-hsla-dark-blue), .5);
    max-width: var(--card-width-responsive);
    transition: ease-in 300ms;

}

.product-grid-cards-subtitle {
    color: hsla(var(--clr-hsla-dark-blue), 1);
    font-size: var(--fs-l);
    font-weight: var(--fw-l);
    transition: ease-in-out 300ms;
}

.product-grid-cards-p {
    color: hsla(var(--clr-hsla-dark-blue), .5);
    font-size: var(--fs-s);
    padding-bottom: var(--card-gap-responsive);
}

.product-grid-cards-icon-flex {
    display: flex;
    justify-content: end;
}

/* Hover */

.product-grid-cards:is(:hover, :focus) {
    background-color: hsla(var(--clr-brd), .25);
    transform: scale(1.1);
    box-shadow: 0px 20px 35px -8px hsla(var(--clr-hsla-dark-blue), .5);

    & .product-grid-cards-subtitle {
        color: hsla(var(--clr-brd), 1);
        font-size: 2rem;
        padding-bottom: 0.5rem;
    }

    /* Issues with Safari support for nesting */

}


/* Media Queries */

@media (min-width: 50rem) {
    :root {
        --fs-title-responsive: 2.25rem;
        --card-brd-responsive: 0.25rem;
        --padding-bottom-responsive: 4rem;
        --grid-gap-responsive: 1.875rem;
        --cards-padding-responsive: 2rem;
        --card-gap-responsive: 2.5rem;
        --card-width-responsive: 21.875rem;
    }

    .product {
        max-width: var(--max-width-desktop);


    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 50rem) and (max-width: 62.5rem) {
    .product-grid-cards {
        max-height: 15rem;
    }
}